@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Animal Shelter</h1>
    <p>Have a look at <a href="https://docs.microsoft.com/aspnet/core">our awesome animals</a>.</p>
</div>
